<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Школьный архив</title>
    <!--<link rel="stylesheet" href="{{assets_dir}}/styles/libs/font-awesome.min.css">-->
    {{{styles_raw}}}{{{scripts_raw}}}{{{calendar_templates}}}
</head>
<body>
    <div class="container">
        <h1>Школьный архив</h1>
        <hr>  
        
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#table" role="tab" data-toggle="tab"><i class="fa fa-table"></i> Таблица</a></li>
                <li><a href="#calendar" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i> Календарь</a></li>
            </ul>
          
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Фотография</th>
                                <th>Название</th>
                                <th>Дата</th>
                                <th>Папка</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each events}}
                                <tr>
                                    <td>
                                        {{#if preview_photo}}
                                            <a href="{{../../archive_dir}}/{{dir}}/{{preview_photo}}" target="_blank">
                                                <img width="100" class="lazy" src="{{../../archive_dir}}/{{dir}}/{{preview_photo}}"/>
                                            </a>
                                        {{else}}
                                            <div class="well" width="50">
                                                <i class="fa fa-file-photo-o fa-2x" style="text-align:center;"></i>
                                            </div>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <h3>{{name}}</h3>
                                    </td>
                                    <td>
                                        <span style="display:none;">{{date.year}}-{{date.month}}-{{date.day}}</span>
                                        
                                        <h3 align="center">{{date.day}}</h3> {{date.month}}.{{date.year}}
                                    </td>
                                    <td>
                                        <!--<h1>-->
                                            <a href="{{../archive_dir}}/{{dir}}" target="_blank" title="{{dir}}"><i class="fa fa-folder fa-4x"></i></a>
                                            {{#if photos}}
                                                <a href="{{../../archive_dir}}/{{dir}}/фото" target="_blank" title="{{dir}}/фото"><i class="fa fa-file-photo-o fa-4x"></i></a>
                                            {{/if}}
                                        <!--</h1>-->
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="calendar">
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-4">
                            <div class="btn-group pull-left">
                                <button class="btn btn-primary" data-calendar-nav="prev"><i class="fa fa-angle-left"></i> Назад</button>
                                <button class="btn btn-primary" data-calendar-nav="today"><i class="fa fa-dot-circle-o"></i> Сегодня</button>
                                <button class="btn btn-primary" data-calendar-nav="next"><i class="fa fa-angle-right"></i> Вперед</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h1 style="text-align:center; margin:0;" id="title"></h1>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group pull-right">
                                <button class="btn btn-disabled" disabled>Вид:</button>
                                <button class="btn btn-warning" data-calendar-view="year">Год</button>
                                <button class="btn btn-warning" data-calendar-view="month">Месяц</button>
                                <button class="btn btn-warning" data-calendar-view="week">Неделя</button>
                                <button class="btn btn-warning" data-calendar-view="day">День</button>
                            </div>
                        </div>
                    </div>
                        
                    <div id="calendar_obj"></div>
                </div>
            </div>
        </div>
        <hr>
        &copy; 2013-2015 <a href="http://atnartur.ru" target="_blank">Атнагулов Артур</a>
    </div>
    <script>
        events_raw_data('{{{events_raw_data}}}', '{{archive_dir}}');
    </script>
</body>
</html>